.connect-port {
	width: 20px;
	height: 20px;
	margin-left: -10px;

	&.slot-type-input {
		top: -10px;
		background-image: linear-gradient( #24292e 0%, #24292e 50%, #444d56 50%, #444d56 100% );
	}

	&.slot-type-output {
		bottom: -10px;
		background-image: linear-gradient( #444d56 0%, #444d56 50%, #24292e 50%, #24292e 100% );
	}
}

.connect-port::before {
	background-color: #444d55;
	content: '';
	position: absolute;
	left: 0px;
	top: 0px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
}

.port-inset {
	background-color: #1585ff;
	width: 10px;
	height: 10px;
	top: -2px;
	z-index: 100;
	margin-left: 5px;
	margin-top: 7px;
}