.node-editor-wrapper {
	height: 100%;
	background-size: 20px 20px;
	background-color: #fff;
	background-image: radial-gradient(circle, #e5e5e5 1px, rgba(0, 0, 0, 0) 1px);
	box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.25);

	.tools {
		padding: 12px;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		align-items: center;

		>* {
			margin-left: 24px;
		}
	}

	.nodes-container {
		position: relative;
		height: calc(100% - 64px);

		svg {
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}
}